<div class="container-fluid contenedor text-center">
    <h1 class="text-center">OSHRHC Activity Photos.</h1>
    <div class="row justify-content-center">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
          <div class="ver_mas text-center">
             <span  class="lnr lnr-eye" (click)="details('dl')"></span>
          </div>
          <article class="text-left">
             <h2>Digital<br>Learning</h2>
             <h4>Training on Computer literacy and familiar with digital communication platform.</h4>
             <h4>(Click on the eye button for more pictures.)</h4>
          </article>
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
       </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
          <div class="ver_mas text-center">
             <span id="click"   class="lnr lnr-eye" (click)="details('ureport')"></span>
          </div>
          <article class="text-left">
             <h2>U<br>Reporting</h2>
             <h4>Adolescent have access to participate in polling using offline and online mechanisms.</h4>
             <h4>(Click on the eye button for more pictures.)</h4>
          </article>
          <img src="https://pbs.twimg.com/profile_images/781518570018648065/HcvZhTVn_400x400.jpg" alt="">
       </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('siw')" ></span>
         </div>
         <article class="text-left">
            <h2>Social Innovation<br>Workshop.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('cbcpc')"></span>
         </div>
         <article class="text-left">
            <h2>Community Based Child<br>Protection Committee(CBCPC).</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('idesw')"></span>
         </div>
         <article class="text-left">
            <h2>Intergenerational Dialogue and<br>Experience Sharing Workshop.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('lt')"></span> 
         </div>
         <article class="text-left">
            <h2>Leadership<br>Training.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('sca')"></span>
         </div>
         <article class="text-left">
            <h2>Social Change<br>Agents.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('pss')"></span> 
         </div>
         <article class="text-left">
            <h2>Psychosocial Support to<br>Adolescents.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('sda')"></span>
         </div>
         <article class="text-left">
            <h2>Storytelling<br>Drama and Art.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('tdpb')"></span>
         </div>
         <article class="text-left">
            <h2>Theatre/Drama for<br>Peace Building.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('pct')"></span>
         </div>
         <article class="text-left">
            <h2>Parental Care<br>Tips.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('cym')"></span>
         </div>
         <article class="text-left" (click)="details('cym')" >
            <h2>Court Yard<br>Meeting</h2>
            <h4>Awareness and capacity building on peace building and engaging positively and parents and communities.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('ca')"></span>
         </div>
         <article class="text-left">
            <h2>Club<br>Activity</h2>
            <h4>Awareness and capacity building on peace building and engaging positively and parents and communities.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('asrh')"></span>
         </div>
         <article class="text-left">
            <h2>ASRH session<br>With Adolescents.</h2>
            <h4>Awareness and training on Adolescent sexual and Reproductive Health(ASRH).</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('cd')"></span>
         </div>
         <article class="text-left">
            <h2>Celebration<br>Days.</h2>
            <h4>Celebration special day in the social hub.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('scswa')"></span>
         </div>
         <article class="text-left">
            <h2>Social Cohesion<br>Session with Adolescents.</h2>
            <h4>Awareness and capacity building on peace building and engaging positively with parents and community.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('cc')"></span>
         </div>
         <article class="text-left">
            <h2>Creative<br>Competition.</h2>
            <h4>Community engagement and socialization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div class="ver_mas text-center">
            <span class="lnr lnr-eye" (click)="details('vp')"></span>
         </div>
         <article class="text-left">
            <h2>Visitor<br>Pictures.</h2> 
            <h4>Looking at a glance.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
    </div>
 </div>
 

