<app-header></app-header>
<div class="container-fluid contenedor text-center">
   <ngx-spinner
   bdColor="rgba(51,51,51,0.8)"
   size="medium"
   color="#fff"
   type="ball-scale-multiple"
 >
   <p style="font-size: 20px; color: white">Please Wait...</p>
 </ngx-spinner>
    <div class="row justify-content-center">
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto ">
         <div (click)="details('dl')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
          <article class="text-left">
             <h2>Digital<br>Learning</h2>
             <h4>Training on Computer literacy and familiar with digital communication platform.</h4>
             <h4>(Click on the eye button for more pictures.)</h4>
          </article>
          <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
       </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('ureport')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
          <article class="text-left">
             <h2>U<br>Reporting</h2>
             <h4>Adolescent have access to participate in polling using offline and online mechanisms.</h4>
             <h4>(Click on the eye button for more pictures.)</h4>
          </article>
          <img src="https://pbs.twimg.com/profile_images/781518570018648065/HcvZhTVn_400x400.jpg" alt="">
       </div>
       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('siw')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Social Innovation<br>Workshop.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('cbcpc')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Community Based Child<br>Protection Committee(CBCPC).</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('idesw')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Intergenerational Dialogue and<br>Experience Sharing Workshop.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('lt')">
         <div class="ver_mas text-center" >
            <span class="lnr lnr-eye" ></span> 
         </div>
      </div>
         <article class="text-left">
            <h2>Leadership<br>Training.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('sca')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Social Change<br>Agents.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('pss')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
          <article class="text-left">
            <h2>Psychosocial Support to<br>Adolescents.</h2>
            <h4>Encouraging social innovation to boost community mobilization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('sda')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Storytelling<br>Drama and Art.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('tdpb')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Theatre/Drama for<br>Peace Building.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('pct')"> 
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Parental Care<br>Tips.</h2>
            <h4>Capacity building on storytelling,drama and arts.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('cym')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Court Yard<br>Meeting</h2>
            <h4>Awareness and capacity building on peace building and engaging positively and parents and communities.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('ca')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Club<br>Activity</h2>
            <h4>Awareness and capacity building on peace building and engaging positively and parents and communities.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('asrh')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>ASRH session<br>With Adolescents.</h2>
            <h4>Awareness and training on Adolescent sexual and Reproductive Health(ASRH).</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('cd')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Celebration<br>Days.</h2>
            <h4>Celebration special day in the social hub.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('scswa')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Social Cohesion<br>Session with Adolescents.</h2>
            <h4>Awareness and capacity building on peace building and engaging positively with parents and community.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('cc')"> 
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Creative<br>Competition.</h2>
            <h4>Community engagement and socialization.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 container_foto">
         <div (click)="details('vp')">
            <div class="ver_mas text-center" >
               <span class="lnr lnr-eye" ></span> 
            </div>
         </div>
         <article class="text-left">
            <h2>Visitor<br>Pictures.</h2> 
            <h4>Looking at a glance.</h4>
            <h4>(Click on the eye button for more pictures.)</h4>
           </article>
         <img src="https://img-aws.ehowcdn.com/400x400/ds-img.studiod.com/Half_Dome_from_Glacier_Point0_1.jpg" alt="">
      </div>
    </div>
 </div>
 

