 <!-- <div class="gallery-lightbox container">
    <div class="gallery">
        <div *ngFor="let data of users$; let i =index " class="gallery-img">
            <img (click)="onPreviewImage(i)" [src]="data.imgURL" [alt]="data.imageAlt">
        </div>
    </div>
    <div *ngIf="showMask" class="lightbox">
        <span  *ngIf="showCount"   class="count">{{currentIndex+1}}/{{totalImageCount}}</span>
        <button *ngIf="previewImage" class="close btn">
            <i class="far fa-times"></i>
        </button>
        <button  *ngIf="controls" class="btn-lightbox-carosel btn-prev">
            <i class="fas fa-arrow-circle-left icon-lightbox-carousel icon-prev"></i>
        </button>
        <button  *ngIf="controls" class="btn-lightbox-carosel btn-next">
            <i class="fas fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
        </button>
        <div *ngIf="previewImage" class="lightbox-img">
            <img [src]="currentLightboxImage.imgURL" [alt]="currentLightboxImage.description">
        </div>
    </div>
</div> -->

<gallery id="mixedExample" 
         [itemTemplate]="itemTemplate"></gallery>
         <ng-template #itemTemplate
         let-index="index"
         let-type="type"
         let-data="data"
         let-currIndex="currIndex">
<span *ngIf="type === 'image' && index === currIndex" 
    class="item-text">
{{data?.title}}
</span>
</ng-template>
<div class="container">
      <div class="row justify-content-center">
              <button 
               class="btn btn-lg btn-success btn-block" 
               name="submtime" 
               value="Sign In"
               (click)="goback()"
               >Go Back</button>
       </div>
      </div>
       
  
  
  