.host{
    display:block;
    text-align: center;
    }
    .gallery-lightbox-container{
        position: relative;
        display:inline-block;
        padding:25px;
    }
    .gallery{
       line-height:0;
       column-count: 3;
        column-gap: 34px;
    }
    